<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css" />
<nav class="navbar navbar-default" >
  <h1>UTS: Attendance</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="html">
        <div class="row">
                <div class="col">
                  <h1>
                    <a href="http://localhost:3001/#/attend">Mark Attendance</a>
                    </a>
                </h1>
                </div>
                <div class="col">
                        <h1>
                          <a href="http://localhost:3001/#/check">Check Attendance</a>
                          </a>
                        </h1>
                </div>
                <div class="col1">
                        <div ng-controller="logoutController">
                            <a ng-click='logout()' class="btn btn-default">Logout</a>
                        </div>
                </div>
        </div>
</div>